<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <!-- Bootstrap CSS (Optional) -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    
    
</head>
<body>
   
    <div class="container mt-4">
        
        <h1>Student List</h1>
        <table class="table table-bordered" id="tableID">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Update And Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for student in std %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.contact }}</td>
                    <td><a href="/delete/{{student.id}}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a>
                        <a href="/update/{{student.id}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Update</a>
                    </td>
                </tr>
                <tr>
                
                
                
                {% comment %} <tr>
                    <td colspan="4">No students available</td>
                </tr> {% endcomment %}
                {% endfor %}
            </tbody>
        </table></br></br>
        <a href="{% url 'add' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add Student</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Datatable plugin JS library file -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  
    <script>
      /* Initialization of datatable */
      $(document).ready(function() {
        $('#tableID').DataTable();
      });
    </script>
</body>
</html>
