<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <!-- Bootstrap CSS (Optional) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Student List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Update And Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for student in std %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.contact }}</td>
                    <td><a href="/delete/{{student.id}}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a>
                        <a href="/update/{{student.id}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Update</a>
                    </td>
                </tr>
                <tr>
                
                
                
                {% comment %} <tr>
                    <td colspan="4">No students available</td>
                </tr> {% endcomment %}
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add Student</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
