{% extends "base.html" %}
{% block content %}
<div>
    <img src="https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg" alt="" height="500px" width="100%">


    </div>
    <div style="display-flex;justify-content:center;align-item:center">
    <div>
        <h1 style="text-align:center">Grocery</h1>
        <p>
         The Grocery Management System is a comprehensive solution designed to streamline the operations of grocery stores, from inventory management to sales tracking. This system helps store owners efficiently manage their products, track inventory levels, and monitor sales in real-time. It also supports the management of customer orders, billing, and reporting, ensuring that both customers and staff have a seamless experience. With features like automated stock updates, customizable product categories, and easy-to-use interfaces, this system is perfect for grocery stores of all sizes looking to enhance their operational efficiency and customer satisfaction.
        </p>
        {% comment %} Header {% endcomment %}
       <div style="padding:5px">
         <a href="#" class="icon"> <i cl ss="fas fa-home"></i> Home</a>
         <a href="#"class="icon" >  <i class="fab fa-github"></i> GitHub</a>
         <a href="#" class="icon">  <i class="fa-brands fa-square-instagram"></i>Instagram</a>
         <a href="#" class="icon">  <i class="fa-brands fa-facebook"></i>Facebook</a>
         
         </div>


    </div>
   </div>
{% endblock %}
    