{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'my_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
      <nav>
         <div class="menu-icon">
          <img src="https://marketplace.canva.com/EAFzje8Pffo/1/0/1600w/canva-colorful-illustrative-organic-grocery-online-shop-logo-Alka_dqR_gQ.jpg" alt="grocery"/>
         </div>
         <div class="logo">
            Grocery
         </div>
         <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li>
              <a>
                <select id="category" name="category" style="background-color:black;color:white">
                  <option value="electronics">Category</option>
                    <option value="electronics">Electronics</option>
                    <option value="clothing">Clothing</option>
                    <option value="home_appliances">Home Appliances</option>
                    <option value="books">Books</option>
                </select>
              </a>
            </li>
            
            <li><a href="#">About Us</a></li>
           
            <li><a href="#">Contact Us</a></li>
         </div>
         <div class="search-icon">
            <span class="fas fa-search"></span>
         </div>
         <div class="cancel-icon">
            <span class="fas fa-times"></span>
         </div>
         <form action="#">
            <input type="search" class="search-data" placeholder="Search" required>
            <button type="submit" class="fas fa-search"></button>
         </form>
      </nav>
      
      <div class="product-grid">
        {% for product in user%}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
            <div class="product-info">
                <div class="product-name">{{ product.product_name }}</div>
                <div class="product-description">{{ product.description }}</div>
                <div class="product-price">${{ product.price }}</div> 
            </div>
        </div>
        {% endfor %}
        <!-- Repeat for other products -->
    </div>
    
    <script src="{% static 'my_app/js/script.js' %}"></script>
</body>
</html>
