{% extends "base.html" %}
{% block content %}
<div style="d-flex justify-content-center align-items-center">
    <div style="height: 400px; width: 700px;" class="d-flex justify-content-around align-items-center pt-5">
        <div style="height: 400px; width: 200px">
    <h1 style="border-bottom:solid 1px black;text-align:center">{{ data.product_name }}</h1>
    <center><img src="{{ data.image.url }}" alt="{{ data.product_name }}" style="height: 200px; width: 200px;border:none"></center>
        </div>

        <div style="height: 400px; width: 300px">
            <strong>description:</strong><p style="text-align:center">{{ data.description }}</p>
    <strong style="text-align:center">Price: ${{ data.price }}</strong>
    <center><button><a href="{% url 'order' data.id %}" >Confirm order</a>
    </button>
        
    </center>
</div>
</div> 
</div>

{% endblock content %}


        



      
        
      
     

  
    
