<!-- profile/profile.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'myapp/css/profile.css' %}">
</head>
<body>
    <h1>{{profile}}</h1>
    <div>
        <div class="profile-details">
            <p><strong>Name:</strong> {{ profile.username}}</p>
            <p><strong>Email:</strong> {{ profile.email}}</p>
        </div>
        
        <div class="profile-actions">
            <a href="#">Edit Profile</a>
        </div>
    </div>
</body>
</html>
