{% extends "base.html" %}
{% block title %}Chai Hub{% endblock%}
{% block content%}
<h1 class="text-center text-white mt-4">Welcome to our ChaiHub</h1>
<div class="container row d-flex justify-content-center align-item-center">
    <div style="height:200px;width:325px" class="pt-2">
<form  method='POST' enctype="multipart/form-data" class="border border-light border-3">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.username.label_tag }} {{ form.username }}
{% if form.username.errors %}
    <div class="error">{{ form.username.errors }}</div>
{% endif %}

{{ form.email.label_tag }} {{ form.email }}<br><br>
{% if form.email.errors %}
    <div class="error">{{ form.email.errors }}</div>
{% endif %}

{{ form.password1.label_tag }} {{ form.password1 }}<br><br>
{% if form.password1.errors %}
    <div class="error">{{ form.password1.errors }}</div>
{% endif %}

{{ form.password2.label_tag }} {{ form.password2 }}<br><br>
{% if form.password2.errors %}
    <div class="error">{{ form.password2.errors }}</div>
{% endif %}

<button type="submit">Sign Up</button>
</form>
</div>
</div>
{% endblock %}
